spring:
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
  datasource:
    url: jdbc:postgresql://localhost:5432/device
    username: postgres
    password: 12312300

server:
  port: 8080

logging:
  level:
    root: INFO
    com.device: DEBUG
