server:
  port: 8080
  servlet:
    context-path: /

spring:
  application:
    name: device-management-system
  profiles:
    active: dev

logging:
  level:
    root: INFO
    com.device: DEBUG

jwt:
  secret: my-super-secret-key-which-is-at-least-32-bytes!
  expiration: 86400000

