spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/device_mangent_db
    username: postgres
    password: 2003


  sql:
    init:
      mode: never

  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        jdbc:
          lob:
            non_contextual_creation: true
